In [15]:
#----------------------
#--Andrew Scott PyPoll
#-- March 2019
#---------------------

# Dependencies
import pandas as pd
import numpy as np
from collections import Counter


# Store filepath in a variable
election_import = "Resources/election_data.csv"

# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
election_df = pd.read_csv(election_import, encoding="UTF-8")

sumvotes = election_df["Voter ID"].count()

#--Find winner
winner = election_df.groupby('Candidate')['Voter ID'].count().idxmax()

#--Calculate other winners


#def vote_analysis(vote_data):
#    sum = vote_data['Voter ID'].count()
#   candidates = vote_data['Candidates'].unique()
#   candvotes = vote_data['Candidates']

avg = election_df.groupby(['Candidate']).count()
avg.head(10)

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [25]:
avg["Percent of Votes"] = avg["Voter ID"] / sumvotes * 100

avg

           Voter ID   County      Total  Percent of Votes
Candidate
Correy       704200   704200  19.999994         19.999994
Khan        2218231  2218231  63.000011         63.000011
Li           492940   492940  13.999996         13.999996
O'Tooley     105630   105630   2.999999          2.999999

In [26]:
#--Reorganizing my columns to fit output
output = avg[["Percent of Votes","Voter ID"]]

output.head()

           Percent of Votes  Voter ID
Candidate
Correy            19.999994    704200
Khan              63.000011   2218231
Li                13.999996    492940
O'Tooley           2.999999    105630

In [27]:
#renaming my columns
renamed_df = output.rename(columns={"Percent of Votes":"Percent of Votes", "Voter ID" : "Sum of Votes"})
renamed_df.head()

           Percent of Votes  Sum of Votes
Candidate
Correy            19.999994        704200
Khan              63.000011       2218231
Li                13.999996        492940
O'Tooley           2.999999        105630

In [ ]:
#--Output to Screen
print("")
print("Election Results")
print("---------------------------")
print(f"Total Votes: ", + sumvotes)
print("---------------------------")



print("---------------------------")
print(f"Winner: " + str(winner))
print("---------------------------")